extends ../layout.pug

block content
  .container.container-medicos
    h1.title.is-2 Lista de Médicos

    table.table.is-fullwidth.is-hoverable.is-bordered
      thead
        tr
          th Nombre del medico
          th Apellidos 
          th Especialidad 
          th Teléfono 
      tbody
        each medico in medicos 
          tr 
            td= medico.nombre
            td= medico.apellidos 
            td= medico.especialidad 
            td= medico.telefono
