body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: #00b7ff;
}

.container-medicos h1 {
  padding-top: 2rem;
  text-align: center;
}
