body {
  padding: 4rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  padding-top: 2rem;
}

