body {
  padding: 50px;
  background-color: whitesmoke;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #00b7ff;
}

.container-medicos h1 {
  padding-top: 2rem;
  text-align: center;
}

main {
  padding-top: 2rem;
}
