extends ../layout

block content
    body
        header 
            h1.title.is-1 Nuevo paciente 
            h3.title.is-3 Datos
        main
            form(action="/pacientes/create", method="POST")
                .field
                    label.label Nombre
                    .control
                        input.input.is-rounded(type="text", name="nombre")
                .field
                    label.label Apellidos
                    .control
                        input.input.is-rounded(type="text", name="apellidos")
                .field
                    label.label Numero seguridad social
                    .control
                        input.input.is-rounded(type="text", name="num_seg_social")
                .field
                    label.label Telefono
                    .control
                        input.input.is-rounded(type="text", name="telefono")
                .control
                button.button.is-dark.is-fullwidth.is-rounded Crear
